{% extends "base.html" %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Подтверждение новых продуктов</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active">Список продуктов</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              {% if error %}
              <div class="card-header">
                <h3 class="card-title">Товары введены ошибочно</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-danger">
                  <thead>
                  <tr>
                    <th>Модел</th>
                    <th>IMEI</th>
                    <th>SKU</th>
                    <th>ПРИЧИНА</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for i in error %}
                  <tr>
                    <td>{{ i.model }}</td>
                    <td>{{ i.imei1 }}</td>
                    <td>{{ i.sku }}</td>
                    <td>{{ i.reason }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Модел</th>
                    <th>IMEI</th>
                    <th>SKU</th>
                    <th>ПРИЧИНА</th>
                  </tr>
                  </tfoot>
                </table>
                {% if not correct %}
                <div class="card-footer">
                  <a href="{% url 'products' %}" class="btn btn-danger float-right">Отмена</a>
                </div>
                {% endif %}
              </div>
              {% endif %}
              <!-- /.card-body -->

              {% if correct %}
              <div class="card-header">
                <h3 class="card-title">Правильно введенные продукты</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered table-success">
                  <thead>
                  <tr>
                    <th>Модел</th>
                    <th>IMEI</th>
                    <th>SKU</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for i in correct %}
                  <tr>
                    <td>{{ i.model }}</td>
                    <td>{{ i.imei1 }}</td>
                    <td>{{ i.sku }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Модел</th>
                    <th>IMEI</th>
                    <th>SKU</th>
                  </tr>
                  </tfoot>
                </table>
                <br><br>
                <div class="card-footer">
                  <form action="{% url 'confirm_products' %}" method="post">{% csrf_token %}
                    <input type="hidden" name="new_prs" value="{{ interval }}">
                    <button type="submit" class="btn btn-info">Сохранять</button>
                    <a href="{% url 'products' %}" class="btn btn-danger float-right">Отмена</a>
                  </form>

                </div>
              </div>
              {% endif %}
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
<!-- /.modal -->
  <div class="modal fade" id="import">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Добавить файл Excel</h4>
          <a href="{% url 'export_example' %}" class="btn btn-outline-primary">
            <i class="fa-solid fa-file-import"></i>
            Example
          </a>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'import_products' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputFile">Заполнить только файл .xlsx</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="exampleInputFile" required>
                <label class="custom-file-label" for="exampleInputFile">Выберите файл</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="submit" class="btn btn-primary">Сохранять</button>
        </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<!-- /.modal -->
{% for message in messages %}
{% if message.tags == "success" %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var m = "{{ message }}"
    swal("SUCCESS", m, "success")
</script>
{% else %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var m = "{{ message }}"
    swal("ERROR", m, "error")
</script>
{% endif %}
{% endfor %}
{% endblock %}