{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Подтверждение новых промо</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active">Список продуктов</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4>Промо-имена:</h4> <h5><i>{{ promos.name }}</i></h5>
                <h4>Время начала:</h4> <h5><i>{{ promos.start | date:'Y-m-d' }}</i></h5>
                <h4>Время окончания:</h4> <h5><i>{{ promos.end | date:'Y-m-d' }}</i></h5>
                <h4>Буджет:</h4> <h5><i>{{ promos.budget | intcomma }} Сум{% if old_budget %} (Данный бюджет равнялся общей сумме кэшбэка товара) {% endif %}</i></h5>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card">
              {% if error %}
              <div class="card-header">
                <h3 class="card-title">Товары введены ошибочно</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-danger">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Модел</th>
                    <th>IMEI</th>
                    <th>СУММА</th>
                    <th>ПРИЧИНА</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for i in error %}
                  <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ i.model }}</td>
                    <td>{{ i.imei1 }}</td>
                    <td>{{ i.amount | intcomma}}</td>
                    <td>{{ i.reason }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>#</th>
                    <th>Модел</th>
                    <th>IMEI</th>
                    <th>СУММА</th>
                    <th>ПРИЧИНА</th>
                  </tr>
                  </tfoot>
                </table>
                {% if not correct %}
                <div class="card-footer">
                  <a href="{% url 'promo' %}" class="btn btn-danger float-right">Отмена</a>
                </div>
                {% endif %}
              </div>
              {% endif %}
              <!-- /.card-body -->

              {% if correct %}
              <div class="card-header">
                <h3 class="card-title">Правильно введенные продукты</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered table-success">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Модел</th>
                    <th>IMEI</th>
                    <th>СУММА</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for i in product %}
                  <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ i.model }}</td>
                    <td>{{ i.imei1 }}</td>
                    <td>{{ i.price | intcomma}}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>#</th>
                    <th>Модел</th>
                    <th>IMEI</th>
                    <th>СУММА</th>
                  </tr>
                  </tfoot>
                </table>
                <br><br>
                <div class="card-footer">
                  <form action="{% url 'confirm_promo' %}" method="post">{% csrf_token %}
                    <input type="hidden" name="promo" value="{{ promos.id }}">
                    <button type="submit" class="btn btn-info">Сохранять</button>
                    <a href="{% url 'products' %}" class="btn btn-danger float-right">Отмена</a>
                  </form>

                </div>
              </div>
              {% endif %}
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% for message in messages %}
{% if message.tags == "success" %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var m = "{{ message }}"
    swal("SUCCESS", m, "success")
</script>
{% else %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var m = "{{ message }}"
    swal("ERROR", m, "error")
</script>
{% endif %}
{% endfor %}
{% endblock %}