{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Список Cashbek</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active">Список Cashbek</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Список Cashbek</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="btn-group">
                    {% if not user.is_manager %}

                    {% endif %}
                    <form action="">
                          <div class="input-group">
                              <input type="search" class="form-control" name="q" style="margin-left: 5px;" placeholder="Поиск">
                              <div class="input-group-append">
                                  <button type="submit" class="btn btn-default">
                                      <i class="fa fa-search"></i>
                                  </button>
                              </div>
                          </div>
                    </form>

                    <form method="get">
                      <div style="margin-left: 10px;" class="form-control select2">
                        <label>от</label>
                        <input type="date" name="start_date" value="{{ start_date }}">
                        <label style="margin-left: 10px;">до</label>
                        <input type="date" name="end_date" value="{{ end_date }}">
                        {% if user.is_manager %}
                        <label style="margin-left: 10px;">Vendor</label>
                        {{ filter.form.vendor }}
                        {% endif %}
                        <input type="submit" />
                      </div>
                    </form>

                </div>
                <br><br>
                <button type="button" class="btn btn-success">Начисление Кэшбэка: <strong>{{ incoming | intcomma }} Сум</strong></button>
                <button type="button" class="btn btn-danger">Cписание Кэшбэка: <strong>{{ expening | intcomma }} Сум</strong></button>
                <br><br>
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Название магазина</th>
                      <th>Количество кэшбэков</th>
                      <th>Количество Начисление кэшбэков</th>
                      <th>Количество Cписание кэшбэков</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ob in obj %}
                    <tr>
                      <th>{{ forloop.counter }}</th>
                      <td>{{ ob.name }}</td>
                      <td>{{ ob.count }}</td>
                      <td>{{ ob.incom }}</td>
                      <td>{{ ob.expen }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Название магазина</th>
                      <th>Количество кэшбэков</th>
                      <th>Количество Начисление кэшбэков</th>
                      <th>Количество Cписание кэшбэков</th>
                    </tr>
                  </tfoot>
                </table>
              </div>

              <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    {% if obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ obj.previous_page_number }}">Предыдущий</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link">Предыдущий</a></li>
                    {% endif %}
                    {% for i in obj.paginator.page_range %}
                    {% if i == obj.number %}
                    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                    {% elif i >= obj.number|add:-3 and i <= obj.number|add:3 %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ obj.next_page_number }}">Следующий</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link">Следующий</a></li>
                    {% endif %}
                  </ul>
                </nav>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
<!-- /.modal -->
  {% if not user.is_manager %}
  <div class="modal fade" id="import">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Добавить Промо</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'import_promo' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label>Название акции</label>
            <input type="text" class="form-control" name="name" required>
          </div>
          <div class="form-group">
            <label>Дата начала акции</label>
            <input type="date" class="form-control" name="start_promo" required>
          </div>
          <div class="form-group">
            <label>Дата окончания акции</label>
            <input type="date" class="form-control" name="end_promo" required>
          </div>
          <div class="form-group">
            <label>Промо бюджет</label>
            <input type="number" class="form-control" name="budjet" required>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Список товаров участвующих в акции .xlsx<a href="{% url 'export_example' 'promo' %}" class="btn btn-outline-primary">
            <i class="fa-solid fa-file-import"></i>
            Example
          </a></label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="exampleInputFile" required>
                <label class="custom-file-label" for="exampleInputFile">Выберите файл</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="submit" class="btn btn-primary">Сохранять</button>
        </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  {% for ob in obj %}
      <div class="modal fade" id="modal-{{ob.pk}}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{ob.name}} - {{ob.vendor.vendor.name}}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5>Статус:</h5>
              <p>{{ ob.get_status_display }}</p><br>
              <h5>Комментарий:</h5>
              <p>{{ ob.description }}</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
  {% endfor %}
  {% else %}
  {% for ob in obj %}
      <div class="modal fade" id="modal-{{ob.pk}}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{ob.name}} - {{ob.vendor.vendor.name}}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% if ob.status == "wait" %}
            <form action="{% url 'confirm_status' %}" method="post">{% csrf_token %}
            <div class="modal-body">
              <label for="exampleInput">Комментарий</label>
              <input type="text" class="form-control" id="exampleInput" name="comment" maxlength="1024" required>
              <input type="hidden" class="form-control" name="promo" value="{{ ob.pk }}">
              <input type="hidden" class="form-control" name="who" value="{{ user.manager.name }}({{ Cashbek }})">
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" name="confirm" value="Подтверждение">
              <input type="submit" class="btn btn-danger" name="refuse" value="Отказ">
            </div>
            </form>
            {% elif ob.status == "active" %}
            <form action="{% url 'confirm_status' %}" method="post">{% csrf_token %}
            <div class="modal-body">
              <label for="exampleInput">Комментарий</label>
              <input type="text" class="form-control" id="exampleInput" name="comment" maxlength="1024" required>
              <input type="hidden" class="form-control" name="promo" value="{{ ob.pk }}">
              <input type="hidden" class="form-control" name="who" value="{{ user.manager.name }}({{ Cashbek }})">
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" name="pause" value="Пауза">
              <input type="submit" class="btn btn-danger" name="finish" value="Завершить">
            </div>
            </form>
            {% elif ob.status == "pause" %}
            <form action="{% url 'confirm_status' %}" method="post">{% csrf_token %}
            <div class="modal-body">
              <label for="exampleInput">Комментарий</label>
              <input type="text" class="form-control" id="exampleInput" name="comment" maxlength="1024" required>
              <input type="hidden" class="form-control" name="promo" value="{{ ob.pk }}">
              <input type="hidden" class="form-control" name="who" value="{{ user.manager.name }}({{ Cashbek }})">
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" name="continue" value="Продолжать">
              <input type="submit" class="btn btn-danger" name="finish" value="Завершить">
            </div>
            </form>
            {% else %}
            <div class="modal-body">
              <h5>Статус:</h5>
              <p>{{ ob.get_status_display }}</p><br>
              <h5>Комментарий:</h5>
              <p>{{ ob.description }}</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          {% endif %}
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
  {% endfor %}
  {% endif %}

<!-- /.modal -->
{% for message in messages %}
{% if message.tags == "success" %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var m = "{{ message }}"
    swal("SUCCESS", m, "success")
</script>
{% else %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var m = "{{ message }}"
    swal("ERROR", m, "error")
</script>
{% endif %}
{% endfor %}
{% endblock %}